@model Skybook.Models.Plant.PlantDetail

@{
    ViewBag.Title = "Details";
}

<h2 style="color: #C0C0C0">Plant Details</h2>

<div>
    
    <hr />
    <dl style="color: #C0C0C0" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryElement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryElement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryElement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryElement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
