@model Skybook.Models.Planet.PlanetDetail

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: #C0C0C0">Delete a Planet</h2>

<h3 style="color: #C0C0C0">Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl style="color: #C0C0C0" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minerals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minerals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialBuried)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialBuried)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentinelActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentinelActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarSystemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarSystemId)
        </dd>

    </dl>
    <br />
    <br />
    <img src="/Planet/RetrieveImage/@Model.PlanetId" alt="" height=250 width=200 />
    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
