@model Skybook.Models.Animal.AnimalDetail

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: #C0C0C0">Delete an Animal</h2>

<h3 style="color: #C0C0C0">Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl style="color: #C0C0C0" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanetId)
        </dd>

    </dl>
    <br />
    <br />
    <img src="/Animal/RetrieveImage/@Model.AnimalId" alt="" height=250 width=200 />
    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
