@model IEnumerable<Skybook.Models.Rock.RockListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RockId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryElement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryElement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanetId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RockId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryElement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryElement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanetId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RockId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RockId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RockId })
        </td>
    </tr>
}

</table>
